head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	link(rel="shortcut icon" href="assets/images/favicons/favicon.ico")
	title Starting Template
	link(rel="stylesheet" type='text/css' href="assets/css/main.css")
